* {
  box-sizing: border-box;
}

.Chat {
  max-width: 1200px;
  width: 90%;
  margin: 20px auto;
}

.page-header {
  width: 100%;
  display: grid;
  grid-template-columns: 90px 90px 90px calc(100% - 270px);
  border: 5px ridge rgba(0, 0, 0, 0.568);
  padding: 15px 10px;
}

.header-last-message {
  text-align: right;
}

.delete-message {
  display: none;
}

.message-like {
  cursor: pointer;
}

.message-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 18px;
  width: 100%;
  border: 5px ridge rgba(0, 0, 0, 0.178);
  background-color: #dad2d296;
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.message-logo>img {
  width: 70px;
  height: 70px;
  /* border-radius: 100%;  */
  border: 3px solid #dad2d296;
}

.main-message {
  display: flex;
  justify-content: flex-start;
  border: 10px solid whitesmoke;
  border-radius: 15px;
  width: 600px;
  background-color: whitesmoke;
  min-height: 90px;
}

.main-message:not(:last-child) {
  margin-bottom: 10px;
}

.message-logo {
  font-size: 0;
}

.message-info {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-author {
  font-weight: 700;
  font-size: 1.25em;
}

.message-info-upper {
  display: flex;
  justify-content: space-between;
}

.message-info-upper .message-date {
  color: gray;
}

.message-info-bottom {
  display: flex;
  justify-content: flex-start;
}

.message-input {
  padding-left: 30px;
  height: 50px;
  width: 80%;
}

.message-submit {
  height: 50px;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.712);
  color: white;
  text-transform: uppercase;
  border: none;
  transition: 0.3s all ease;
  font-weight: bold;
  border: 2px solid rgb(119, 119, 119);
}

.message-submit:hover {
  background-color: rgba(221, 216, 216, 0.767);
  color: black;
  border: 2px solid black;
}

.loading-page {
  font-size: 60px;
  height: 100vh;
  color: rgba(134, 134, 134, 0.801);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-message.my-message .message-logo {
  display: none;
}

.my-message.main-message {
  align-self: flex-end;
}

.main-message.my-message .message-info-bottom {
  display: flex;
  justify-content: space-between;
}

.message-info-bottom-right {
  display: flex;
}

.delete-message-my {
  margin-left: 10px;
  cursor: pointer;
}

.message-edit {
  display: none;
  cursor: pointer;
}

.my-message.main-message:hover .message-edit {
  display: block;
}
